# Data cleaning

In [76]:
import pandas as pd

In [77]:
#loadiong data into a dataframe
df1 = pd.read_csv('../divvy-tripdata.csv', index_col=0)
df1.head()

C:\Users\extra\AppData\Local\Temp\ipykernel_2680\4034367027.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../divvy-tripdata.csv', index_col=0)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,,
A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [78]:
#checking types of data
df12.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
Duration              timedelta64[ns]
dtype: object

In [79]:
#removing empty values
df12 = df1.dropna()

In [80]:
#checking if all empty values were removed
df12.isna()

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,,
A847FADBBC638E45,False,False,False,False,False,False,False,False,False,False,False,False
5405B80E996FF60D,False,False,False,False,False,False,False,False,False,False,False,False
5DD24A79A4E006F4,False,False,False,False,False,False,False,False,False,False,False,False
2A59BBDF5CDBA725,False,False,False,False,False,False,False,False,False,False,False,False
27AD306C119C6158,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
03005DDB0F2F28E4,False,False,False,False,False,False,False,False,False,False,False,False
B0B4E85DA43A9194,False,False,False,False,False,False,False,False,False,False,False,False
8D148DD47B59530B,False,False,False,False,False,False,False,False,False,False,False,False
0D1170BA18FD33D1,False,False,False,False,False,False,False,False,False,False,False,False
09B20DC75B5EA1E0,False,False,False,False,False,False,False,False,False,False,False,False

In [81]:
#change start_at and ended_at to datetime
df12['started_at'] = pd.to_datetime(df12['started_at'])
df12['ended_at'] = pd.to_datetime(df12['ended_at'])

C:\Users\extra\AppData\Local\Temp\ipykernel_2680\2226048168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['started_at'] = pd.to_datetime(df12['started_at'])
C:\Users\extra\AppData\Local\Temp\ipykernel_2680\2226048168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['ended_at'] = pd.to_datetime(df12['ended_at'])

In [82]:
df12

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,,
A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.896400,-87.661000,41.932200,-87.658600,member
5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.924400,-87.715400,41.930600,-87.723800,member
5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.894500,-87.617900,41.867900,-87.623000,member
2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.903000,-87.697500,41.899200,-87.672200,member
27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.890200,-87.626200,41.969500,-87.654700,casual
...,...,...,...,...,...,...,...,...,...,...,...,...
03005DDB0F2F28E4,classic_bike,2022-11-09 14:22:29,2022-11-09 14:25:18,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Webster Ave,TA1309000033,41.918216,-87.656936,41.921540,-87.653818,member
B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual
8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual
0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual
09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual

In [83]:
df12.dtypes

rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [84]:
#creating a "duration" col
df12['Duration'] = df12['ended_at'] - df12['started_at']

C:\Users\extra\AppData\Local\Temp\ipykernel_2680\2585599750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['Duration'] = df12['ended_at'] - df12['started_at']

In [85]:
df12

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Duration
ride_id,,,,,,,,,,,,,
A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.896400,-87.661000,41.932200,-87.658600,member,0 days 00:26:49
5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.924400,-87.715400,41.930600,-87.723800,member,0 days 00:08:09
5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.894500,-87.617900,41.867900,-87.623000,member,0 days 00:14:23
2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.903000,-87.697500,41.899200,-87.672200,member,0 days 00:12:12
27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.890200,-87.626200,41.969500,-87.654700,casual,0 days 00:52:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
03005DDB0F2F28E4,classic_bike,2022-11-09 14:22:29,2022-11-09 14:25:18,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Webster Ave,TA1309000033,41.918216,-87.656936,41.921540,-87.653818,member,0 days 00:02:49
B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual,0 days 00:33:36
8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual,0 days 00:09:28
0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual,0 days 05:35:48
09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual,0 days 00:31:36

In [86]:
df12.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
Duration              timedelta64[ns]
dtype: object

In [87]:
df12.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
Duration              timedelta64[ns]
dtype: object

### Checking for incorrect entries in the rideable and members cols

In [88]:
df12.rideable_type.unique()

array(['docked_bike', 'electric_bike', 'classic_bike'], dtype=object)

In [89]:
df12.member_casual.unique()

array(['member', 'casual'], dtype=object)

### Saving data into a new file

In [90]:
df12.to_csv('../tripata.csv')