# exploratory analysis

In [14]:
import numpy as np
import pandas as pd

In [15]:
df3 = pd.read_csv('../tripata.csv')

C:\Users\extra\AppData\Local\Temp\ipykernel_12760\4188049850.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('../tripata.csv')

In [16]:
df3.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Duration
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,0 days 00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,0 days 00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,0 days 00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,0 days 00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,0 days 00:52:55

In [23]:
df3.rideable_type.value_counts(normalize=True)

classic_bike     0.495262
docked_bike      0.256288
electric_bike    0.248449
Name: rideable_type, dtype: float64

1. classic_bike     49.53%
2. docked_bike      25.63%
3. electric_bike    24.84%

In [24]:
df3.member_casual.value_counts(normalize=True)

member    0.573402
casual    0.426598
Name: member_casual, dtype: float64

1. member    57.34%
2. casual    42.66%

In [25]:
df3.sort_values(by="started_at", ascending=False).head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Duration
11784293,F6BE77C9DC9AB3BC,electric_bike,2022-11-30 23:56:11,2022-12-01 00:00:52,Clark St & Winnemac Ave,TA1309000035,Broadway & Ridge Ave,15578,41.973391,-87.667762,41.984045,-87.660274,casual,0 days 00:04:41
11540677,C32D3E0585F38636,electric_bike,2022-11-30 23:55:28,2022-11-30 23:59:46,Broadway & Cornelia Ave,13278,Clarendon Ave & Gordon Ter,13379,41.945466,-87.646343,41.957867,-87.649505,member,0 days 00:04:18
11682733,0A7F3F32FCC736D1,classic_bike,2022-11-30 23:55:02,2022-12-01 00:21:10,McClurg Ct & Ohio St,TA1306000029,Sheffield Ave & Fullerton Ave,TA1306000016,41.892592,-87.617289,41.925602,-87.653708,member,0 days 00:26:08
11685642,CB5ECCA9D1567A45,electric_bike,2022-11-30 23:54:40,2022-11-30 23:58:59,State St & Van Buren St,TA1305000035,Michigan Ave & 14th St,TA1307000124,41.877238,-87.627823,41.864059,-87.623727,member,0 days 00:04:19
11530599,FDB69DF74922162E,classic_bike,2022-11-30 23:53:00,2022-12-01 00:03:58,Desplaines St & Kinzie St,TA1306000003,Eckhart Park,13289,41.888716,-87.644448,41.896373,-87.660984,casual,0 days 00:10:58